{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/dashboard.css" %}" {% csp_nonce_attr %}>{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }} dashboard{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo;
{% for app in app_list %}
{{ app.name }}
{% endfor %}
</div>
{% endblock %}

{% block content %}
<div id="content-main" class="app-list">
  {% if app_list %}
    {% for app in app_list %}
      <div class="app-{{ app.app_label }} module" style="margin-bottom: 18px;">
        <table>
          <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
          </caption>
          <thead class="visually-hidden">
            <tr>
              <th scope="col">{% translate 'Model name' %}</th>
              <th scope="col">{% translate 'Add link' %}</th>
              <th scope="col">{% translate 'Change or view list link' %}</th>
            </tr>
          </thead>
          {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
              <th scope="row">
                {% if model.admin_url %}
                  <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                  {{ model.name }}
                {% endif %}
              </th>
              {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
              {% else %}
                <td></td>
              {% endif %}
              {% if model.admin_url and show_changelinks %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
              {% elif model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  {% else %}
    <p>{% translate "You don't have permission to view or edit anything." %}</p>
  {% endif %}
</div>
{% endblock %}
